body {

    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
    text-align: left;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-weight: 500;
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.title-section {
    padding-bottom: 0;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

/* Navbar */
.navbar {
    padding-bottom: 0 0 4.5rem;
    height: 136px;
}


.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
}

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Icons */

.row {
    padding: 7% 15%;
    text-align: center;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.features-icon {
    color: #ef8172;
}

.features-icon:hover {
    color: #ff4c68;
}

.features {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.features-subtitle {
    color: #8f8f8f;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing */

.card-body-1 {
    height: 286px;
}

.card-body-2 {
    height: 286px;
}

/* Call to Action */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.cta-text {
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */

#footer {
    text-align: center;
    padding: 7% 15%;
}

.footer-icon {
    margin: 20px 10px;
}
    
h1 {
    text-align: center;
}

